In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
# in case of new notebook, use the commented code to load the data:

import pandas as pd

file1 = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.04 Exploration and Data Cleaning/file1.csv')
file2 = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.04 Exploration and Data Cleaning/file2.txt', sep = '\t')
file3 = pd.read_excel('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.04 Exploration and Data Cleaning/file3.xlsx', engine="openpyxl")
file4 = pd.read_excel('/content/drive/MyDrive/CURR-v3.X-MAR2023/UNIT1/DAY2/1.04 Exploration and Data Cleaning/file4.xlsx', engine="openpyxl")

column_names = file1.columns
donors = pd.DataFrame(columns=column_names)
#display(donors)
donors = pd.concat([file1,file2,file3,file4], axis=0)
#display(donors.head())

cols = []
for colname in donors.columns:
    cols.append(colname.lower())

donors.columns = cols

#display(donors.head())

donors = donors.rename(columns={'controln':'id',
                                'hv1':'median_home_val',
                                'ic1':'median_household_income'})

display(donors.head())
donors['median_home_val'] =  pd.to_numeric(donors['median_home_val'], errors='coerce')
donors['ic5'] =  pd.to_numeric(donors['ic5'], errors='coerce')
donors = donors.drop_duplicates()

print(donors.shape)

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

(4001, 17)

In [39]:
donors.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,NaN,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.0,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.0,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,NaN,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.0,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [40]:
print(donors.dtypes)
donors.head(25)

id                           int64
state                       object
gender                      object
median_home_val            float64
median_household_income      int64
ic4                        float64
hvp1                         int64
ic5                        float64
pobc1                        int64
pobc2                        int64
ic2                        float64
ic3                          int64
avggift                    float64
tcode                        int64
dob                          int64
domain                      object
target_d                   float64
dtype: object

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,NaN,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.0,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.0,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,NaN,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.0,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0
5,100640,IL,M,764.0,457,501.0,1,16022.0,2,75,477.0,480,25.571429,1,6104,S2,30.0
6,18581,NC,female,775.0,318,419.0,5,13491.0,0,73,364.0,380,4.625000,0,4407,R2,12.0
7,119038,TX,M,890.0,519,560.0,0,17872.0,2,46,525.0,551,6.175000,1002,0,C1,7.0
8,173223,CA,F,NaN,184,250.0,0,8708.0,2,63,206.0,235,8.818182,0,1801,T2,10.0
9,157988,CA,F,NaN,593,617.0,61,17838.0,7,62,NaN,619,6.666667,28,0,S1,10.0
10,141720,NV,F,1569.0,673,781.0,22,25775.0,3,44,672.0,785,13.000000,28,5401,T1,5.0
11,186272,CA,F,3515.0,521,588.0,97,20068.0,11,54,565.0,549,8.640000,2,3401,U1,10.0
12,154301,Cali,F,1026.0,459,496.0,1,13803.0,12,52,470.0,491,11.250000,2,2801,T2,10.0
13,189722,AP,Male,0.0,0,0.0,0,0.0,0,0,0.0,0,5.727273,1,0,0,6.0
14,188304,KS,F,376.0,263,316.0,0,NaN,1,75,303.0,287,10.550000,0,2405,T2,10.0
15,73699,MI,NaN,890.0,463,523.0,1,9493.0,5,53,474.0,512,11.285714,1,5102,S1,15.0
16,31977,FL,F,1513.0,521,702.0,31,28124.0,3,24,599.0,615,18.500000,2,2701,T1,28.0
17,44336,FL,F,948.0,330,411.0,4,17728.0,6,8,365.0,368,15.000000,0,6501,C2,15.0
18,127823,TX,F,258.0,64,74.0,0,4236.0,0,94,60.0,93,5.450000,2,2301,C3,6.0
19,150739,CA,U,1951.0,556,625.0,44,17208.0,10,66,578.0,619,9.681818,2,5410,S1,12.0
20,41384,FL,F,556.0,318,NaN,0,11779.0,16,22,358.0,320,9.428571,28,5107,S3,12.0
21,114721,OK,NaN,1040.0,472,656.0,0,26962.0,2,56,609.0,579,11.666667,0,0,C2,15.0
22,111795,AR,NaN,603.0,208,341.0,2,12038.0,1,70,264.0,288,5.000000,0,0,0,5.0
23,64480,IN,F,526.0,277,370.0,1,12826.0,1,80,336.0,317,7.142857,28,0,T2,10.0
24,87259,MT,M,717.0,302,432.0,1,15614.0,1,53,458.0,349,9.700000,2,4304,C1,25.0

# Checking for NA's

In [41]:
donors.isna().sum()

id                           0
state                        0
gender                     133
median_home_val             10
median_household_income      0
ic4                          1
hvp1                         0
ic5                          6
pobc1                        0
pobc2                        0
ic2                          1
ic3                          0
avggift                      0
tcode                        0
dob                          0
domain                       0
target_d                     0
dtype: int64

In [42]:
#donors.shape[0]
len(donors)

4001

In [43]:
round(3.141592654, 5)

3.14159

In [44]:
(133/4001)*100

3.32416895776056

In [45]:
#donors.isna().sum()/len(donors)
#round(donors.isna().sum()/len(donors),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(donors.isna().sum()/len(donors),4)*100)
#display(nulls_df)
#nulls_df.columns
nulls_df = nulls_df.reset_index()
#display(nulls_df)
#nulls_df.T
#display(nulls_df.head())
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)
#nulls_df = nulls_df.rename(columns = {'index': 'header_name', 0:'percent_nulls'})
#display(nulls_df.head())
#print(nulls_df.columns)

                header_name  percent_nulls
0                        id           0.00
1                     state           0.00
2                    gender           3.32
3           median_home_val           0.25
4   median_household_income           0.00
5                       ic4           0.02
6                      hvp1           0.00
7                       ic5           0.15
8                     pobc1           0.00
9                     pobc2           0.00
10                      ic2           0.02
11                      ic3           0.00
12                  avggift           0.00
13                    tcode           0.00
14                      dob           0.00
15                   domain           0.00
16                 target_d           0.00

In [46]:
nulls_df

                header_name  percent_nulls
0                        id           0.00
1                     state           0.00
2                    gender           3.32
3           median_home_val           0.25
4   median_household_income           0.00
5                       ic4           0.02
6                      hvp1           0.00
7                       ic5           0.15
8                     pobc1           0.00
9                     pobc2           0.00
10                      ic2           0.02
11                      ic3           0.00
12                  avggift           0.00
13                    tcode           0.00
14                      dob           0.00
15                   domain           0.00
16                 target_d           0.00

In [47]:
#nulls_df[nulls_df['percent_nulls']>3].loc[2,'header_name']
#nulls_df[nulls_df['percent_nulls']>3].iloc[0,0]
nulls_df[nulls_df['percent_nulls']>3]['header_name'].values[0]
#nulls_df.loc[2,"header_name"]

'gender'

In [48]:
columns_drop = nulls_df[nulls_df['percent_nulls']>3]#['header_name']  # dummy case with 3 ,df[col]
#columns_drop.values
#print(columns_drop.values)
#donors = donors.drop(columns_drop, axis=1)  # drop a list of columns DO NOT RUN THIS
#donors = donors.drop(['gender'], axis=1)  # drop a single column DO NOT RUN THIS

Now we know that our dataframe has NA's, but where they are? In which rows?

In [49]:
# Replacing/imputing null values

donors[donors['gender'].isna()==True]#.head(60) # checking rows that are null based on a specific column

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
15,73699,MI,NaN,890.0,463,523.0,1,9493.0,5,53,474.0,512,11.285714,1,5102,S1,15.0
21,114721,OK,NaN,1040.0,472,656.0,0,26962.0,2,56,609.0,579,11.666667,0,0,C2,15.0
22,111795,AR,NaN,603.0,208,341.0,2,12038.0,1,70,264.0,288,5.000000,0,0,0,5.0
54,190671,CA,NaN,2143.0,280,373.0,63,12935.0,29,36,353.0,328,9.260870,0,1901,0,14.0
77,156324,Cali,NaN,2016.0,431,497.0,51,17882.0,11,53,465.0,459,8.750000,0,0,S1,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,187604,TN,NaN,1349.0,481,628.0,21,22094.0,4,45,593.0,521,5.300000,0,0,T1,11.0
860,187628,KY,NaN,896.0,455,507.0,1,18693.0,1,79,464.0,493,10.285714,0,0,T1,19.0
894,52588,TN,NaN,585.0,212,326.0,4,13218.0,1,71,258.0,286,10.750000,0,0,R3,15.0
946,65656,MI,NaN,928.0,334,527.0,1,23732.0,15,57,463.0,403,15.000000,0,0,S3,25.0
966,44800,FL,NaN,599.0,200,288.0,2,11547.0,3,34,236.0,253,7.320000,28,0,T2,5.0

## Dropping missing values

This approach is acceptable when:

* We don't know what could be the value of the NA
* We are not going to drop a lot of rows (we don't want to end up with a too tiny dataframe!).

In [50]:
# strategy: drop rows that have null values (only if there are very few)
donors = donors[donors['ic2'].isna()==False] # Since these nulls are not a lot, we can filter them
#donors = donors[~donors['ic2'].isna()==True]
#rows_to_drop = donors[donors['ic2'].isna()==True].index
#donors = donors.drop(rows_to_drop, axis=0)

display(donors.isna().sum())
print(donors.shape)

id                           0
state                        0
gender                     133
median_home_val              9
median_household_income      0
ic4                          1
hvp1                         0
ic5                          6
pobc1                        0
pobc2                        0
ic2                          0
ic3                          0
avggift                      0
tcode                        0
dob                          0
domain                       0
target_d                     0
dtype: int64

(4000, 17)

## Replacing the missing values

Sometimes, we can replace the missing values by a "reasonable guess". This "guess" can be determined by several techniques:

* Domain knowledge (we already know their source and we know what's the value)

* Mean value of the column

  we can use the Pandas method .mean() to compute the mean of a column

* Median value of the column

  we can use the Pandas method .median() to compute the median of a column

* Other more sophisticated approaches

To fill the missing values of a column, we can use the .fillna(value) method. This method, will replace **all** the missing values with the *value* provided within parentheses.

In [51]:
# strategy: impute a value for the missing value (fill in a value that we choose or calculate)

import numpy as np

mean_median_home_value = donors['median_home_val'].mean()
mean_median_home_value
donors['median_home_val'] = donors['median_home_val'].fillna(mean_median_home_value)

<ipython-input-51-e5fef2d017eb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donors['median_home_val'] = donors['median_home_val'].fillna(mean_median_home_value)

In [52]:
np.std(donors['median_home_val'])

1032.8059829147

In [53]:
donors.isna().sum()

id                           0
state                        0
gender                     133
median_home_val              0
median_household_income      0
ic4                          1
hvp1                         0
ic5                          6
pobc1                        0
pobc2                        0
ic2                          0
ic3                          0
avggift                      0
tcode                        0
dob                          0
domain                       0
target_d                     0
dtype: int64

# Activity 1

In [54]:
#Activity 1

Refer to the file files_for_activities/file1.csv for this exercise.

Load data (file1.csv) in a new Jupyter notebook.
Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.
Use the head() to check the new dataframe.

In [55]:
file1 = file1[file1['IC4'].isna()==False]
file1 = file1[file1['IC5'].isna()==False]
file1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

As a general rule, one can say that if the data in the column has a lot of outliers, then it is preferable to choose median over mean, otherwise you can choose the mean. One advantage when you use these imputation techniques is that you do not change the mean or median of the column. It is important to note that these are not the only means of doing that. There are a lot of other methods that can be employed, which we will take a look at, in later sessions. Sometimes the missing values in the numerical column are simply replaced by a constant, usually 0. It is very case dependent. There are no hard/fixed rules.

Generally speaking, it would not be a good idea as you lose all the information from other columns where you do have information available. So you have to be careful when you filter out the rows with null values. You can check the percentage of data that you might lose in doing so and if it makes sense to lose that or not.

In [56]:
donors['gender'].mode()[0]

'F'

In [57]:
donors.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [58]:
donors['median_home_val'].value_counts()

0.0       34
550.0     15
397.0     13
675.0     12
595.0     11
          ..
3442.0     1
1922.0     1
3772.0     1
2917.0     1
2666.0     1
Name: median_home_val, Length: 1749, dtype: int64

In [59]:
#End of Activity 1

Categorical variables:

"Labels" (Brand, Gender, Color,...)

* Nominal -> Doesn't have an implicit order
* Ordinal -> Have an implicit order 

S < M <  L, XL, XXL

Groups:

1, 2, 3, 4

If you can add or substract the values and makes sense:
    - Numerical
else:
    - Categorical

In [60]:
# Replacing null values for categorical variables
#display(donors['gender'].unique())
display(donors['gender'].value_counts())

display(donors['gender'].value_counts(dropna=False)) # Use dropna=False to also display the amount of NA's
len(donors[donors['gender'].isna()==True])  # number of missing values

F          1954
M          1466
male        126
female      106
Female       75
U            68
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

F          1954
M          1466
NaN         133
male        126
female      106
Female       75
U            68
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

133

In [61]:
donors['gender'].mode()[0]

'F'

In [62]:
# use most common value to fillna
donors['gender'] = donors['gender'].fillna('F')
len(donors[donors['gender'].isna()==True]) # now this number is 0

0

In [63]:
# Exporting this processed data to a csv
donors.to_csv('merged_clean_ver1.csv') # Includes a new columns named "Unamed 0" which contains the row indexes
donors.to_csv('merged_clean_ver2.csv',index = False) # To avoid including a new column named "Unamed 0" which contains the row indexes
donors.to_csv('merged_clean_ver3.csv',index = False, sep=";")

In [64]:
!ls

drive		       merged_clean_ver2.csv  sample_data
merged_clean_ver1.csv  merged_clean_ver3.csv

In [65]:
!head merged_clean_ver1.csv

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,1157.3292407917816,392,520.0,7,21975.0,6,16,430.0,466,28.0,1,1901,C2,100.0
1,96093,IL,M,537.0,365,473.0,0,19387.0,1,89,415.0,410,5.666666667,0,0,T2,7.0
2,43333,FL,F,725.0,301,436.0,3,18837.0,11,17,340.0,361,4.111111111,0,2501,C2,5.0
3,21885,NC,M,1157.3292407917816,401,413.0,7,14014.0,1,74,407.0,399,27.27777778,0,2208,T2,38.0
4,190108,FL,F,995.0,252,348.0,0,17991.0,5,6,280.0,316,6.0,28,0,C2,5.0
5,100640,IL,M,764.0,457,501.0,1,16022.0,2,75,477.0,480,25.57142857,1,6104,S2,30.0
6,18581,NC,female,775.0,318,419.0,5,13491.0,0,73,364.0,380,4.625,0,4407,R2,12.0
7,119038,TX,M,890.0,519,560.0,0,17872.0,2,46,525.0,551,6.175,1002,0,C1,7.0
8,173223,CA,F,1157.3292407917816,184,250.0,0,8708.0,2,63,206.0,235,8.818181818,0,1801,T2,10.0

In [66]:
!head merged_clean_ver2.csv

id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
44060,FL,M,1157.3292407917816,392,520.0,7,21975.0,6,16,430.0,466,28.0,1,1901,C2,100.0
96093,IL,M,537.0,365,473.0,0,19387.0,1,89,415.0,410,5.666666667,0,0,T2,7.0
43333,FL,F,725.0,301,436.0,3,18837.0,11,17,340.0,361,4.111111111,0,2501,C2,5.0
21885,NC,M,1157.3292407917816,401,413.0,7,14014.0,1,74,407.0,399,27.27777778,0,2208,T2,38.0
190108,FL,F,995.0,252,348.0,0,17991.0,5,6,280.0,316,6.0,28,0,C2,5.0
100640,IL,M,764.0,457,501.0,1,16022.0,2,75,477.0,480,25.57142857,1,6104,S2,30.0
18581,NC,female,775.0,318,419.0,5,13491.0,0,73,364.0,380,4.625,0,4407,R2,12.0
119038,TX,M,890.0,519,560.0,0,17872.0,2,46,525.0,551,6.175,1002,0,C1,7.0
173223,CA,F,1157.3292407917816,184,250.0,0,8708.0,2,63,206.0,235,8.818181818,0,1801,T2,10.0

In [67]:
!head merged_clean_ver3.csv

id;state;gender;median_home_val;median_household_income;ic4;hvp1;ic5;pobc1;pobc2;ic2;ic3;avggift;tcode;dob;domain;target_d
44060;FL;M;1157.3292407917816;392;520.0;7;21975.0;6;16;430.0;466;28.0;1;1901;C2;100.0
96093;IL;M;537.0;365;473.0;0;19387.0;1;89;415.0;410;5.666666667;0;0;T2;7.0
43333;FL;F;725.0;301;436.0;3;18837.0;11;17;340.0;361;4.111111111;0;2501;C2;5.0
21885;NC;M;1157.3292407917816;401;413.0;7;14014.0;1;74;407.0;399;27.27777778;0;2208;T2;38.0
190108;FL;F;995.0;252;348.0;0;17991.0;5;6;280.0;316;6.0;28;0;C2;5.0
100640;IL;M;764.0;457;501.0;1;16022.0;2;75;477.0;480;25.57142857;1;6104;S2;30.0
18581;NC;female;775.0;318;419.0;5;13491.0;0;73;364.0;380;4.625;0;4407;R2;12.0
119038;TX;M;890.0;519;560.0;0;17872.0;2;46;525.0;551;6.175;1002;0;C1;7.0
173223;CA;F;1157.3292407917816;184;250.0;0;8708.0;2;63;206.0;235;8.818181818;0;1801;T2;10.0

In [68]:
pd.read_csv("merged_clean_ver1.csv").head()

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,0,44060,FL,M,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,1,96093,IL,M,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,2,43333,FL,F,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,3,21885,NC,M,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,4,190108,FL,F,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [69]:
pd.read_csv("merged_clean_ver2.csv").head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [70]:
# lambda expressions

def add_two(x):
    #some code
    return x+2

# def do_something(lst,fun):
#      #some code
#      return result

# do_something([1,2,3],add_two)

add_two(-2)

0

In [71]:
def divide(a,b):
    # docstring
    '''
    This function will return the ration between two numbers

    Inputs:
    a -> integer/float
    b -> integer/float

    Outputs:
    a/b
    '''
    return a/b

In [72]:
#divide()

In [73]:
# This will not work
#divide('a',2)

In [74]:
def add_two(x):
    return x+2

lambda x: x+2

In [75]:
lst = [1,2,3,4,5,6,7,8,10]
new_list = []

for value in lst:
    new_list.append(value**2)
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 100]

In [76]:
def square(x):
    return x**2

lst = [1,2,3,4,5,6,7,8,10]
new_list = []
for value in lst:
    new_list.append(square(value))
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 100]

In [77]:
square = lambda value: value**2
square(4)

lst = [1,2,3,4,5,6,7,8,10]
new_list = []
for item in lst:
    new_list.append(square(item))
new_list

#new_list = [square(item) for item in lst] # list comprehension
#print(new_list)

# # new_list = [square(item) for item in lst if item%2==0]

[1, 4, 9, 16, 25, 36, 49, 64, 100]

# Activity 2

In [78]:
#Activity 2

In [79]:
# Refer to the file files_for_activities/merged_clean_ver1.csv for this exercise.

#1 Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).
import pandas as pd

data1 = pd.read_csv('merged_clean_ver1.csv')
data1.head()

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,0,44060,FL,M,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,1,96093,IL,M,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,2,43333,FL,F,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,3,21885,NC,M,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,4,190108,FL,F,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [80]:
data1.columns

Index(['Unnamed: 0', 'id', 'state', 'gender', 'median_home_val',
       'median_household_income', 'ic4', 'hvp1', 'ic5', 'pobc1', 'pobc2',
       'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain', 'target_d'],
      dtype='object')

In [81]:
# data1.drop([data1.columns[0]], axis=1, inplace=True)
data1 = data1.drop([data1.columns[0]], axis=1)
data1.head()

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0

In [82]:
# 2 Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column
data1['state'].isna().sum()
#data1['state'].value_counts(dropna=False)
#len(data1[data1['state'].isna()==True])  # number of missing values
#data1['state'] = data1['state'].fillna('CA')

0

In [83]:
# 3.1 Create a simple lambda expression to add three numbers. Take those three numbers as input from the user.
addition = lambda x,y,z: x+y+z

In [84]:
a = int(input('enter X: '))

enter X: 1

In [85]:
b = int(input('enter Y: '))

enter Y: 1

In [86]:
c = int(input('enter Z: '))

enter Z: 1

In [87]:
addition(a,b,c)

3

In [88]:
[item for item in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
# 3.2 Define a list as lst = [1,2,3,4,5,6,7,8,10]. 
#     Write a lambda expression to find the cube of a number.
#     Use that lambda expression to find the cube of every number in the list. 
#     Define a list comprehension for this question
cube = lambda x: x**3

lst = [1,2,3,4,5,6,7,8,10]
#new_list = []
#for item in lst:
#    new_list.append(cube(item))
#new_list

[cube(item) for item in lst]
#list(map(lambda x: x**3,lst))

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

In [90]:
new_list = [cube(item) for item in lst]
new_list

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

In [91]:
#End of Activity 2

In [92]:
# map functions
#list(map(len, donors.columns))
# #donors.columns = list(map(lambda x: x.lower(), donors.columns)) # we did this with a for loop earlier
# # # donors
#donors['gender'].unique() # check the unique values in the column
#donors['gender'] = list(map(lambda x: x[0].upper(), donors['gender']))
donors['gender'].unique()

array(['M', 'F', 'female', 'Male', 'U', 'J', 'male', 'Female', 'feamale',
       'A'], dtype=object)

In [93]:
'Male'[0]

'M'

In [94]:
"male"[0].upper()

'M'

In [95]:
donors.shape[0]

4000

In [96]:
my_list = ['aaa','Bbb','ccc']

def first_letter(x):
    return x[0].upper()

#[first_letter(item) for item in my_list]
list(map(first_letter,my_list)) # list( map( function, iterable) )

['A', 'B', 'C']

In [97]:
#my_string = 'AAA234'

#def clean_string(x):
#    if ("A" in x):
#        return int(x.replace("A",""))
#    else:
#        return int(x)
#
#df[col] = df[col].apply(clean_string)
#df[col] = list(map(clean_string,df[col]))

In [98]:
#donors['gender'].unique()  # check the unique elements in the column
# Now define a function to clean the column
def clean(x):
    if x in ['M', 'Male', 'male']: # Male gender 
        return 'Male'
    elif x[0] in ['F','f']: # Female gender # 'M', 'F', 'female', 'Male', 'U', 'J', 'male', 'Female', 'feamale','A']
        return 'Female'
    else: # Other
        return 'U' 

# Applying the function onto every element of the column to replace it using a for loop.
#for row in range(len(donors)):
#    donors.iloc[row, 2] = clean(donors.iloc[row, 2])
    #donors.loc[row, ['gender']] = clean(donors.loc[row, ['gender']])

# Using the "apply" function -> "Apply" a function onto every element of a column.
# df[col] = df[col].apply(function_to_apply)
donors['gender'] = donors['gender'].apply(clean)

# Using the "map" function -> "Apply" a function onto every element of a column.
# df[col] = list(map(function_to_appply, column))
#donors['gender'] = list(map(clean, donors['gender']))

donors['gender'].unique()  # To check the results again

array(['Male', 'Female', 'U'], dtype=object)

In [99]:
donors['gender'].value_counts()

Female    2283
Male      1625
U           92
Name: gender, dtype: int64

# Activity 3

In [100]:
#Activity 3

# def function_1(a,b):
#     c=a+b
#     return c

function_1=lambda a,b : a+b

# def function_2(a,b): # a -> list, b -> number
#     c=0
#     for i in range(len(a)):
#         c+=2*b
#     return c

function_2=lambda a,b : sum([2*b for i in range(a)])

# def function_3(a,b):
#     c=0
#     if a>3:
#         c=12
#     else:
#         c='Too big.'
#     return c

function_3=lambda a,b : 12 if a>3 else 'Too big.'

# End of Activity 3

# Working with dates

dd-mm-yyyy
dd/mm/yyyy
dd-mm-yy
dd/mm/yy
mm-dd-yyyy
mm-dd-yy
mm/dd/yy

In [101]:
# Examples of working with datetime format:

file = pd.read_csv('/content/drive/MyDrive/CURR-v3.X-MAY2022/UNIT1/DAY2/JAN/1.04 Exploration and Data Cleaning/df_final_web_data_pt_1.csv')
display(file.head())
print(file.dtypes)

file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')
display(file.head())
print(file.dtypes)

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

Unnamed: 0       int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00

Unnamed: 0               int64
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [102]:
file['date_time'][0]

Timestamp('2017-04-17 15:27:00')

In [103]:
file['date_time'][0]
print(file['date_time'][0].day)
print(file['date_time'][0].month)
print(file['date_time'][0].year)
print(file['date_time'][0].isoweekday())  # Returns 1 for Monday and so on

print(file['date_time'][0].time()) 
print(file['date_time'][0].isoformat())
print(file['date_time'][0].strftime(format='%d/%m/%Y')) # %m -> December -> 12
print(file['date_time'][0].strftime(format="%A %d th. %B %Y")) # %A -> Name of the day. %B Month name

def convert_date_format(d):
    return d.strftime(format="%A %d th. %B %Y")

file['date_2'] = file['date_time'].apply(convert_date_format)

17
4
2017
1
15:27:00
2017-04-17T15:27:00
17/04/2017
Monday 17 th. April 2017

In [104]:
import time
from datetime import date

today = date.today()
today

print(time.localtime(time.time()))
print(time.gmtime(time.time()))

time.struct_time(tm_year=2023, tm_mon=3, tm_mday=31, tm_hour=6, tm_min=55, tm_sec=21, tm_wday=4, tm_yday=90, tm_isdst=0)
time.struct_time(tm_year=2023, tm_mon=3, tm_mday=31, tm_hour=6, tm_min=55, tm_sec=21, tm_wday=4, tm_yday=90, tm_isdst=0)

In [105]:
"23.7".replace(".7","")
#lambda x: float(x.replace("%",""))

'23'

In [106]:
# Examples of working with string functions

#string = "i am learning  data  analysis at Ironhack. It is  super easy  "
#string.lower()
#string.upper()
#string.capitalize()
#'34'.isdigit() # does not work with decimal numbers
#str2 = '42'
#str2.isdigit()
#string = "  123".lstrip() # df[col] = df[col].apply( lambda s: s.lstrip() ), df[col] = list( map( lambda s: s.lstrip(), df[col]))
#string
#string = " 1234 ".rstrip()
#string
string = "Hello world!. I like dogs"
#string
#[elem.lstrip() for elem in string]
#string.split() 
string.replace("dogs", "cats").lower()

'hello world!. i like cats'

In [ ]:
my_string = 'AAA123'

for char in my_string:
    value = '5'
    if ( char.isdigit() == True):
        #print("The character %s is a number",char)
        #print(f"The character {char} is a number")
        print("The character {} is a number {}".format(char,value))
    else:
        print("The character {} is not a number".format(char))

The character A is not a number
The character A is not a number
The character A is not a number
The character 1 is a number 5
The character 2 is a number 5
The character 3 is a number 5

# Activity 4

In [107]:
#Activity 4
# Create a user-defined method to clean the column state in the dataframe.
# Use string functions to standardize the states to uppercase and use the strip function to clean the strings as well.
donors['state'].unique()

def clean(x):
    x = x.upper()
    x = x.strip()
    if x in ['AZ', 'ARIZONA']:
        return 'AZ'
    elif x in ['CA', 'CALIFORNIA', 'CALI']:
        return 'CA'
    elif x in ['TN', 'TENNESSEE']:
        return 'TN'
    else:
        return x

In [108]:
donors['state'] = list(map(clean,donors['state']))

donors['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'AP', 'KS', 'MI', 'OK', 'AR',
       'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT', 'AL',
       'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ', 'MN',
       'KY', 'NJ', 'NE', 'MS', 'NY', 'WY', 'MD', 'AK', 'VA', 'AE', 'AA',
       'PA', 'VT', 'WV', 'GU'], dtype=object)

In [ ]:
#End Activity 4

In [109]:
# Exporting this processed data to a csv
donors.to_csv('merged_clean_ver2.csv')

In [110]:
def clean_gender(x):
    if x in ['M', 'Male', 'male']: # Male gender
        return 'Male'
    elif x[0] in ['F','f']: # Female gender
        return 'Female'
    else: # Other
        return 'U'

def clean_state(x):
    x = x.upper()
    x = x.strip()
    if x in ['AZ', 'ARIZONA']:
        return 'AZ'
    elif x in ['CA', 'CALIFORNIA', 'CALI']:
        return 'CA'
    elif x in ['TN', 'TENNESSEE']:
        return 'TN'
    else:
        return x

In [111]:
def clean_dataset(df):
    df2 = df.copy()
    #df2['gender'] = df2['gender'].apply(clean_gender)
    #df2['state'] = df2['state'].apply(clean_state)
    df2['gender'] = list(map(clean_gender,df2['gender']))
    df2['state'] =  list(map(clean_state,df2['state']))
    
    return df2

In [112]:
clean_dataset(donors)

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,Male,1157.329241,392,520.0,7,21975.0,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,Male,537.000000,365,473.0,0,19387.0,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,Female,725.000000,301,436.0,3,18837.0,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,Male,1157.329241,401,413.0,7,14014.0,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,Female,995.000000,252,348.0,0,17991.0,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,66762,MI,Female,632.000000,279,388.0,2,12653.0,1,71,336.0,339,8.533333,0,0,0,5.0
997,6443,FL,Male,595.000000,252,274.0,0,11132.0,8,11,263.0,262,14.692308,1,2501,T2,20.0
998,151175,CA,Female,2707.000000,507,537.0,80,16165.0,24,54,504.0,538,12.117647,0,4001,U1,22.0
999,151504,CA,Male,2666.000000,535,653.0,63,24745.0,22,45,609.0,612,12.333333,1,4401,S1,21.0
1000,74303,MI,Male,444.000000,225,299.0,3,10088.0,1,86,264.0,269,17.142857,4,405,R2,25.0